.shift-editor-outer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: brightness(30%) blur(3px);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}

.shift-editor {
  background-color: #f5f5f5;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--color-bg);
}

.shift-editor__icons-grid {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(2, 40px);
}

.shift-editor__icon {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 2px white solid;
  background-color: unset;
  opacity: 40%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}

.shift-editor h1 {
  font-size: 24px;
  color: whitesmoke;
}

.shift-editor__icon--active {
  opacity: 100%;
}

.shift-editor__input {
  display: block
}
