:root {
    /* --- Space --- */
    --padding-S: 8px;
    --padding-M: 12px;
    --padding-L: 16px;
    --padding-XL: 24px;

    --margin-S: 4px;
    --margin-M: 4px;
    --margin-L: 12px;
    --margin-XL: 24px;


    /* --- Colors --- */
    --color-primary: rgb(226, 47, 47);
    --color-secondary: black;
    --color-accent: black;
    
    --color-bg: #202020;
    --color-text: white;
    --color-text-secondary: grey;
    --color-border: rgb(49,49,49);
    --color-surface: rgb(42,42,42);
    
    --color-hover: black;
    --color-active: rgb(217, 217, 217);
    --color-focus: black;

    --color-success: black;
    --color-warning: black;
    --color-danger: red;
    --color-error: var(--color-danger);


    /* --- font-size --- */
    --font-size-S: 14px;
    --font-size-M: 16px;
    --font-size-L: 20px;
    --font-size-XL: 32px;


    /* --- "Magic" values --- */
    --absolute-round-border: 9999px;
    --last-idx-in-order: 9999;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-XL);
    padding: var(--padding-XL);
}

h2 {
    padding: var(--padding-L);
    font-size: var(--font-size-L);
}

p {
    font-size: var(--font-size-M);
}

body {
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
}


