:root {
    /* Space */
    --padding-small: 4px;
    --padding-medium: 12px;
    --padding-big: 24px;

    --margin-small: 4px;
    --margin-medium: 12px;
    --margin-big: 24px;

    /* Palette */
    --color-500: #3f4550;
    --color-400: #54546c;
    --color-300: #6e7684;
    --color-200: #a2aab5;
    --color-100: #c0c6cf;

    /* Colors */
    --bg-color: #202020;
    --fg-color: #535353;
    --fg-color-active: #A22C29; 
    --font-main-color: #EFF1F3; 
    --font-warning-color: rgb(196, 0, 0); 
    --text-color-500: black;
    --text-color-300: #434343;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

.page {
    width: 400px;
    height: 100vh;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
}

