
.schedules-table {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.schedules-table__title {
    color: white;
    font-size: 30px;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 20px;
}

.schedules-table__table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
}

.schedules-table__footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-inline: 20px;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.schedules-table__add-btn {
    border-radius: 30px;
    height: 60px;
    border: none;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;

    align-items: center;
    font-size: 40px;
    background-color: rgb(224, 67, 67);
    color: white;
    justify-content: center;
}
