
.schedules-table {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.schedules-table__table {
    width: 100%;
}

.schedules-table__footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-inline: 20px;
}

.schedules-table__add-btn {
    border-radius: 30px;
    height: 60px;
    border: none;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    font-size: 40px;
    background-color: rgb(224, 67, 67);
    color: white;
    justify-content: center;
}
