.day-panel {
 background-color: green;
 width: 100%;
 color: var(--color-text);
 padding: var(--padding-L);
 margin-top: auto;
}

.day-panel__schedule-list {
 height: 30px;
 width: 100%;
}

.day-panel__task {
 width: 100%;
 background-color: var(--color-bg);
 display: flex;
 align-items: center;
 justify-content: flex-start;
 height: 40px;
 padding-inline: var(--padding-L); 
}

.task__complete-btn {
 cursor: pointer;
 margin-right: var(--margin-L);
 background-color: var(--color-surface);
 border: 2px solid var(--color-border);
 border-radius: 100%;
 height: 40%;
 aspect-ratio: 1;
}

.day-panel__tasks-list {
 height: 30px;
}

.day-panel__date {
 font-size: var(--font-size-L);
}