#schedule-page {
    /* visibility: hidden;
    pointer-events: none; */
}

#schedule-page__groups-line {
    width: calc(100% - var(--padding-medium));
    display: flex;
    align-items: center;
    padding-left: var(--padding-medium);
    margin-top: var(--margin-medium);
    justify-content: space-between;
    margin-bottom: var(--margin-medium);
    align-items: flex-end;
}

#schedule-page__groups-sector {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
}

.schedule-page__group {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
}

.schedule-page__add-schedule-btn--passive {
    box-shadow: none;
    pointer-events: none;
    opacity: 30%;
    height: 26px;
    aspect-ratio: 1;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}

#schedule-page__add-group-btn {
    transition: .4s;
}

.schedule-page__add-schedule-btn {
    aspect-ratio: 1;
    /* box-shadow: 4px 4px 10px 0px black; */
    box-shadow: 0px 0px 0px 0px black;
    color: white;
    font-size: 20px;
    padding: 0;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-page__group-input {
    max-width: 200px;
    border: none;
    height: 20px;
    font-size: 20px;
    background-color: unset;
}

.schedule-page__shift-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


#schedule-page__hint {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
    font-size: 24px;
    width: calc(100% - 2 * var(--margin-medium));
    margin-left: var(--margin-medium);
}

#lightbulb {
    height: 70px;
    width: 35px;
    margin-right: var(--margin-medium);
    background-image: url('../icons/lightbulb.svg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
}

#long-arrow {
    background-image: url('../icons/long-arrow.svg');
    height: 140px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    opacity: 30%;
    background-size:100%;
    background-position: center;
}

#schedule-page__delete-schedule-btn {
    color: var(--font-warning-color);
    border: 2px var(--font-warning-color) solid;
    font-size: 14px;
}

#schedule-page__setup-schedule-day-btn {
    color: var(--font-main-color);
    font-size: 14px;
}

.set-current-day-btn {
    display: none;
    border: none;
    box-shadow: none;
    color: var(--font-main-color)
}

#schedule-page__manager {
    width: 100%; 
    display: none; 
    justify-content: flex-end; 
    flex-direction: column;
}


.schedule__delete-btn {
    background-color: var(--font-warning-color);
    aspect-ratio: 1;
    height: 16px;
    margin-right: var(--margin-medium);
    border-radius: 100%;
    display: none;
}

.schedule__input {
    background-color: unset;
    border: none;
    color: var(--fg-color);
    width: 300px;
    font-size: 14px;
    pointer-events: none;
}

.schedule-page__group--active input {
    font-size: 24px;
    color: var(--font-main-color)
}

.schedule-page__group--active .schedule__delete-btn {
    display: inline;
}

.schedule-page__group--active input {
    pointer-events: all;
}


.schedule-page__choose-group-btn {
    padding: var(--padding-small) var(--padding-medium);
    border-radius: 99px; /* To make it circle-like */
    /* border: 2px var(--fg-color) solid; */
    font-size: 14px;
    color: var(--fg-color);
    box-shadow: none;
}

.schedule-page__choose-group-btn--active {
    font-size: 24px;
    border: none;
    box-shadow: none;  
    color: var(--font-main-color);  
}

.schedule-page__group--active {
    order: -1;
}

.schedule-page__edit-group-btn {
    display: none;
    height: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.schedule-page__edit-group-btn--active {
    display: inline-block;
}

#group-editor {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(70%) blur(5px);
    position: absolute;
    top: 0;
    left: 0;
}

#group-editor__input {
    margin-top: var(--margin-medium);
    width: 100%;
    margin-bottom: var(--margin-medium);
}

#group-editor__close-btn {
    height: 20px;
    aspect-ratio: 1;
    margin-left: var(--margin-big);
}

#group-editor__window {
    background-color: var(--bg-color);
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid var(--fg-color);
    padding: var(--padding-medium) var(--padding-big);
}

#group-editor__window button {
    border-radius: 100%;
    aspect-ratio: 1;
    height: 100%;
}

#schedule-page__add-shift-btn {
    color: var(--font-main-color);
    border: var(--font-main-color) 2px solid;
    background: unset;
    height: 30px;
    margin-top: var(--margin-medium);
    font-size: 14px;
    box-shadow: none;
    text-shadow: 1px 1px black;
}
