#tasks-page {
    width: 400px;
}

#tasks-page__tag-line {
    display: flex;
    margin-top: var(--margin-medium);
    align-items: center;
    padding-left: var(--padding-medium);
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
}


#tasks-page__filter-btn {
    color: var(--font-warning-color);
    border: 2px solid var(--font-warning-color);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tasks-page__add-tag-button {
    width: 65%;
    display: flex;
    justify-content: center; 
}

.tasks-page__tag {
    padding: var(--padding-small) var(--padding-medium);
    border: 2px solid var(--fg-color);
    color: var(--fg-color);
    margin: 0;
    margin-bottom: var(--margin-small);
    border-radius: 15px;
    margin-left: var(--margin-small);
    display: flex;
    align-items: center;
}

.tasks-page__tag--enabled {
    padding: var(--padding-small) var(--padding-medium);
    border: 2px solid var(--font-warning-color);
    color: var(--font-warning-color);
    margin: 0;
    margin-bottom: var(--margin-small);
    border-radius: 15px;
    margin-left: var(--margin-small);
    display: flex;
    align-items: center;
}

.tasks-page__tag-in-task {
    padding: calc(var(--padding-small)/2) calc(var(--padding-medium)/2);
    border: 2px solid var(--fg-color);
    color: var(--fg-color);
    border-radius: 15px;
    font-size: 10px;
    margin: 5px;
}

.tasks-page__separator {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

.tasks-page__separator-date {
    background-color: var(--bg-color);
    z-index: 2;
    padding: 0 var(--padding-medium);
    color: white;
}

.tasks-page__separator-line {
    background-color: var(--fg-color);
    margin-top: 0px;
    height: 2px;
    flex: 1;
    /*width: calc(100% - 2 * var(--padding-big));*/
}

.tasks-page__task {
    height: 30px;
    display: flex;
    align-items: center;
    /* border: 2px solid var(--fg-color); */
    justify-content: space-between;    
    padding: var(--padding-small) var(--padding-medium);
    width: calc(100% - 2 * var(--padding-medium));
}

.tasks-page__task:nth-child(2n) {
    background-color: #292929;
}

.tasks-page__task-name {
    margin-right: auto;
}

#tag-manager {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-page__input {
    /* border: 2px var(--fg-color) solid; */
    border: none;
    background-color: unset; 
    height: 20px;        
    color: var(--font-main-color);
    width: calc(100% - 2 * var(--padding-medium));
    margin-left: calc(var(--padding-medium) - 2.2347092374px) /*MAGIC VARIABLE*/;
    margin-right: var(--padding-medium);
}

.tasks-page__complete-task-btn {
    border-radius: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    border: var(--font-warning-color) 2px solid;
    color: var(--font-warning-color);
    height: 80%;
    font-size: 20px;
    aspect-ratio: 1;
}

.tasks-page__delete-tag-btn {
    border-radius: 100%;
    height: 14px;
    width: 14px;
    margin: 0;
    padding: 0;
    border: var(--font-warning-color) 2px solid;
    background-color: var(--font-warning-color);
    margin-left: var(--margin-small);
}