.shift {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-inline-start: 10px;
  justify-content: flex-start;
}


.shift__title {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  border-bottom: 2px solid rgb(49, 49, 49);
}

.shift__icon {
    cursor: pointer;
    height: 80%;
    display: inline-block;
    aspect-ratio: 1;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
}

*[shift-icon="books"] {
    background-image: url('../../icons/books.svg');
}

*[shift-icon="moon_and_sun"] {
    background-image: url('../../icons/moon_and_sun.svg');
}

*[shift-icon="moon"] {
    background-image: url('../../icons/moon.svg');
}

*[shift-icon="notebook"] {
    background-image: url('../../icons/notebook.svg');
}

*[shift-icon="plant"] {
    background-image: url('../../icons/plant.svg');
}

*[shift-icon="sleep"] {
    background-image: url('../../icons/sleep.svg');
}

*[shift-icon="student"] {
    background-image: url('../../icons/student.svg');
}

*[shift-icon="sun_and_moon"] {
    background-image: url('../../icons/sun_and_moon.svg');
}

*[shift-icon="sun"] {
    background-image: url('../../icons/sun.svg');
}

*[shift-icon="sunset"] {
    background-image: url('../../icons/sunset.svg');
}
