.calendarView__day {
  display: flex;
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  border: 2px solid rgb(49, 49, 49);
  color: var(--font-main-color);
  align-items: center;
  cursor: pointer;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--padding-small);
  transition: .5s;
}

.calendar__day-title {
  border: none;
  background-color: var(--bg-color);
}

.calendarView__day * {
  opacity: 30%;
}

.calendarView__day_week * {
  opacity: 100%;
}

.calendarView__day_week .calendarView__icon {
  display: block;
}

.calendarView__icon {
  display: none;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.day__title {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  text-align: center;
}

.calendarView__day--active1 {
  background-color: rgb(217, 217, 217);
  color: black;
  z-index: 1;
  border: 2px solid white;
}

.calendarView__day--active2 {
  background-color: red;
  color: white;
  z-index: 1;
  border: 2px solid rgb(255, 70, 70);
}