.calendarView__day {
  display: flex;
  background-color: var(--color-surface);
  border-radius: 10px;
  border: 2px solid var(--color-border);
  color: var(--color-text-secondary);
  align-items: center;
  cursor: pointer;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--padding-small);
  transition: .3s;
}

.calendar__day-title {
  border: none;
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
}

.calendarView__day_week .calendarView__icon {
  display: block;
}

.calendarView__day_week {
  color: var(--color-text);
}

.calendarView__icon {
  display: none;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.day__title {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  text-align: center;
}

.calendarView__day--active1 {
  background-color: var(--color-active);
  color: black;
  z-index: 1;
  border: 2px solid white;
}

.calendarView__day--active2 {
  background-color: var(--color-primary);
  color: var(--color-text);
  z-index: 1;
  border: 2px solid rgb(255, 70, 70);
}