.calendarView__day {
  display: flex;
  opacity: 30%;
  color: var(--font-main-color);
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--padding-small);
  transition: .5s;
  padding-bottom: var(--margin-small);
}

.calendarView__day_week {
  opacity: 100%;
}

.calendarView__icon {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}


.calendarView__day--active1 {
  box-shadow: 0px 0px 0px 3px white, 4px 4px 10px 1px black;
  z-index: 1;
}

.calendarView__day--active2 {
  box-shadow: 0px 0px 0px 3px red, 4px 4px 10px 1px black;
  z-index: 1;
}