.schedule {
    display: inline-block;
}

.schedule--active {
    order: 999;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.schedule--active .schedule__header {
    padding-inline: 20px;
    border: none;
}

.schedule--active .schedule__title {
    background-color: rgb(217, 217, 217);
    color: black;
    border: 2px white solid;
}

.schedule__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.schedule__title {
    cursor: pointer;
    height: 32px;
    border: 2px solid rgb(49, 49, 49);
    background-color: rgb(42, 42, 42);
    border-radius: 20px;
    padding-inline: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.schedule__shifts-list {
    margin-top: 4px;
    height: 100%;
    flex-grow: 1;    
    border-top: 2px solid rgb(49, 49, 49);
    width: 100%;
}

.schedule__add-shift-btn {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.schedule__add-shift-title {
    border: none;
}

