.calendarView {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

.calendar__title {
  color: white;
}

.calendarView__days-grid {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7 - 4px));
  gap: 4px;
}

.calendarView__months-roulette {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 20px;
}

.calendarView__arrow-btn {
  height: 100%;
  aspect-ratio: 1;
  background-color: rgb(42,42,42);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  cursor: pointer;
  border: 2px solid rgb(49, 49, 49);
  background-image: url("../../icons/arrow.svg");
}

.calendarView__arrow-btn:last-child {
  transform: rotate(180deg);
}

.calendarView__date-title {
  color: white;
  font-size: 24px;
}

