#calendar {
    width: calc(100% - 2 * var(--margin-medium));
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    gap: 0px;
    align-content: flex-start;
}

.calendar__day {
    width: calc(100% / 7 - 2px);
    height: calc(100% / 7);
    display: flex;
    opacity: 30%;
    /* box-shadow: 0px -10px 10px 0 black; */
    /* background-color: var(--fg-color); */
    color: var(--font-main-color);
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--padding-small);
    transition: .5s;
    padding-bottom: var(--margin-small);
}

.calendar__day_week {
    opacity: 100%;
}


.calendar__icon {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    /* border: 2px white solid; */
}

.week-day-name {
    color: var(--fg-color);
    opacity: 100%;
    margin-bottom: 0;
    height: 24px;
}

.calendar__day--active1 {
    box-shadow: 0px 0px 0px 3px white, 4px 4px 10px 1px black;
    z-index: 1;
}

.calendar__day--active2 {
    box-shadow: 0px 0px 0px 3px red, 4px 4px 10px 1px black;
    z-index: 1;
}

#month-input {
    background-color: var(--bg-color);
    color: var(--text-color-500);
    margin-top: -50px;
    z-index: 2;
    opacity: 0%;
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
    border: none;
    font-size: 40px;
    width: calc(100vw - 2 * var(--padding-medium));
}

#calendar-page__month-picker-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: var(--margin-medium);
    width: calc(100% - var(--margin-big));
    margin-left: var(--margin-big);
    cursor: pointer;
    z-index: 2;
}

#calendar-page__year {
    color: var(--main-font-color);
    display: inline;
    font-size: 24px;
}

#calendar-page__month {
    margin-left: var(--margin-medium);
    display: inline;
    color: var(--main-font-color);
    text-align: left;
    font-size: 24px;
    border-radius: 99px;
    padding: 0;
    box-shadow: none;
}

#month-picker {
    display: none;
    width: 400px;
    top: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 10;;
    position: absolute;
    padding: 0 var(--padding-medium);
}

.month-picker__year {
    width: 100%;
    font-size: 24px;
    color: white;
    padding-left: var(--padding-medium);
    margin-top: var(--margin-medium)
}

.month-picker__month {
    height: 50px;
    aspect-ratio: 1;
    box-shadow: none;
    color: var(--font-main-color);
    opacity: 30%;
}

.season {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#month-picker__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.month-picker__month_current {
    opacity: 100%;
}

.month-picker__month--active {
    opacity: 100%;
    box-shadow: 0 0 0px 3px white, 4px 4px 10px 1px black;
}

.month-picker__separator-line {
    height: 24px;
    margin-left: var(--margin-medium);
}

.month-picker__season {
    margin-left: 12%;
    width: 50px;
    color: var(--fg-color);
    display: inline-block
}


.month-picker__season:first-child {
    margin-left: 0px;
}

.month-picker__season:nth-child(2) {
    margin-left: 3%;
}

