.schedule-editor-outer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: brightness(30%) blur(3px);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}

.schedule-editor {
  background-color: var(--color-bg);
  border-radius: 4px;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
}

.schedule-editor h1 {
  color: whitesmoke;
  font-size: 24px
}

.schedule-editor__input {
  display: block;
}

